#allThings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("./background.svg");
}

#allThings img {
    height: 50vh;
    padding-top: 10vh;
    padding-bottom: 1vh;
}

#allThings p {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0;
    font-family: 'Pompiere', cursive;
}



