body {
    background-image: url("./websiteback.svg");
}

#allThings {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#download {
    margin-top: 2vh;
}

#download a {
    text-decoration: none;
    color: black;
}

#logo {
    display: flex;
    justify-content: center;
}

#logo img {
    height: 50vh;
    padding-bottom: 2vh;
}

#allThings p {
    text-align: center;
    font-size: 2em;
    margin-top: 0;
    font-family: 'Pompiere', cursive;
}



