/********************** MAIN *********************/
body {
  font-family: 'Helvetica';
  background-color: #e4d5cc;
  -webkit-app-region: drag;
}

a {
  text-decoration: none;
}

/********************** BREAK SELECT *********************/

.break-select select{
  display: none;
  overflow: hidden;
}

/********************** ANIMAL *********************/
.animal {
  position: absolute;
  left: 0px;
  top: 250px;
  z-index: -1;
}


/********************** NAV BAR *********************/

.navbar-container {
  display: flex;
  flex-direction: column;
  background-color: #87CEEB;
  border-radius: 10px;
}

.navbar-work-container, .navbar-break-container {
  display: inline-block;
  align-items: center;
}

.navbar-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  padding: 10px 10px;
  color:	white;
  border-radius: 10px;
}

/* .gearImg {
  display: flex;
  flex-grow: 1;
  align-content: flex-start;
}

.health {
  flex-grow: 1;
  align-content: flex-end;
} */


.navbar-work, .navbar-break {
  overflow: hidden;
  float: left;
  padding: 10px 10px;
  color:	white;
  border-radius: 10px;
}

.navbar-work-select,
.navbar-break-select {
  padding: 10px 10px;
}
/* 
.navbar-options img {
  height: 20px;
  width: 20px;
} */

.gearImg {
  height: 30px;
  width: 30px;
  align-self: center;
  padding-left: 10px;
}

.navbar-wrapper {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

/********************** PARTY HAT *********************/

.draggable-box .draggable-item{
  position:absolute;
  top: 100px;
}

.draggable-box .draggable-hat {
  left: 200px;
}

/********************** HALO *********************/

#halo{
  position: absolute;
  left: 110px;
  top: -120px;
}

/********************** HEART and BATTERY *********************/

/* #heart {
  position: absolute;
  margin-top: 38px;
  margin-left: 20px
}
#healthBar {
  position: absolute;
  margin-left: 100px;
} */

.healthBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#healthBar {
  flex-grow: 2;
}

#heart {
  flex-grow: 1;
}