body {
  font-family: 'Helvetica';
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
}

.break-select select{
  display: none;
  overflow: hidden;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  background-color: #87CEEB;
  border-radius: 10px;
}

.navbar-work-container, .navbar-break-container {
  display: inline-block;
  align-items: center;
}

.navbar-options, .navbar-work, .navbar-break {
  overflow: hidden;
  float: left;
  padding: 10px 10px;
  color:	white;
  border-radius: 10px;
}

.navbar-work-select,
.navbar-break-select {
  padding: 10px 10px;
}

.navbar-options img {
  height: 20px;
  width: 20px;
}

.navbar-wrapper {
  display: flex;
  flex-direction: column;
}