/********************** MAIN *********************/
body {
  font-family: 'Helvetica';
  background-color: #e4d5cc;
  -webkit-app-region: drag;
  overflow: hidden;
}

a {
  text-decoration: none;
}

/********************** BREAK SELECT *********************/

.break-select select{
  display: none;
  overflow: hidden;
}

/********************** NAV BAR *********************/

.navbar-container {
  display: flex;
  flex-direction: column;
  background-color: #87CEEB;
  border-radius: 10px;
}

.navbar-work-container, .navbar-break-container {
  display: inline-block;
  align-items: center;
}

.navbar-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  padding: 10px 10px;
  color:	white;
  border-radius: 10px;
}

.navbar-work, .navbar-break {
  overflow: hidden;
  float: left;
  padding: 10px 10px;
  color:	white;
  border-radius: 10px;
}

.navbar-work-select,
.navbar-break-select {
  padding: 10px 10px;
}

.gearImg {
  height: 30px;
  width: 30px;
  align-self: center;
  padding-left: 10px;
}

.navbar-wrapper {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

/********************** DONKE *********************/

#donke {
  position: absolute;
  height: 450px;
  width: 300px;
  left: 0px;
  top: 300px;
  width: 60%;
}

/********************** GRASS *********************/


#grass {
  position: absolute;
  left:0;
  top: 525px;
  width: 100%;
}

/********************** SUN *********************/


#sunFace {
  position: absolute;
  left: 300px;
  top: 100px;
  z-index: -1;
  width: 30%;
}

#sunRays {
  position: absolute;
  left: 300px;
  top: 100px;
  z-index: -1;
  width: 30%;
}

/********************** SPEECH BUBBLE *********************/
#speech {
  position: absolute;
  left: 150px;
  top: 300px;
}

#bubble {
  z-index: -1;
}

#text {
  z-index: 1;
  width: 200px;
  position: absolute;
  top: 40px;
  left: 50px;
  display: flex;
  justify-content: center;
}

#text p{
  font-family: 'Pangolin';
  padding-left: 20px;
  padding-right: 20px;
}



/********************** PARTY HAT *********************/

.draggable-box .draggable-item{
  position:absolute;
  top: 100px;
}

.draggable-box .draggable-hat {
  left: 200px;
}

/********************** HALO *********************/

#halo{
  position: absolute;
  left: 110px;
  top: 80px;
  z-index: 6;
}

/********************** CLOUDS *********************/

#cloud1{
  position: absolute;
  left: 180px;
  top: 100px;
  z-index: 1;
}

#cloud2{
  position: absolute;
  left: 250px;
  top: 125px;
  z-index: 5;
}

#cloud3{
  position: absolute;
  left: 50px;
  top: 50px;
  z-index: 2;
}

#cloud4{
  position: absolute;
  left: 75px;
  top: 150px;
  z-index: 1;
}

#cloud5{
  position: absolute;
  left: 300px;
  top: 50px;
  z-index: 2;
}

/********************** LIGHTNING *********************/
#lightning1{
  position: absolute;
  left: 180px;
  top: 200px;
  z-index: -1;
}

#lightning2{
  position: absolute;
  left: 250px;
  top: 175px;
  z-index: -1;
}

#lightning3{
  position: absolute;
  left: 50px;
  top: 150px;
  z-index: -1;
}

/********************** HEART and BATTERY *********************/

/* #heart {
  position: absolute;
  margin-top: 38px;
  margin-left: 20px
}
#healthBar {
  position: absolute;
  margin-left: 100px;
} */

.healthBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#healthBar {
  flex-grow: 2;
}

#heart {
  flex-grow: 1;
}